* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

    
.contenedor {
    background-color: #E7CCCC;
    margin: 20px;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
}

div {
    border-radius: 30px;
}
    
body {
  
    font-size: 25px;
    margin:0 20%;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 70px;
}

h1, h2 {

    text-decoration: underline;
}

.gif {
    text-align: center;
    margin: 10px;
   
}
.contenedor-descripcion {
    display: inline-block;
    background-color:rgb(195, 241, 175);
    margin: 20px;
    padding: 20px;
    

}


.descripcion
{
    text-align: center;
}

.contenedor-mazos {
    display: inline-block;
    background-color:rgb(195, 241, 175);
    margin: 20px;
    padding: 20px;
}

.contenedor-lista {
    display: block;
    background-color:rgb(195, 241, 175);
    margin: 20px;
    padding: 20px;
    text-align: left;
}

.boton {

    font-size: 30px;
}

a {
    background-color: transparent;
    text-decoration: none ;
    color: black;
    font-size: x-large;
    font-style: italic;

}
.boton.olimpico {
    background-color: red;
}

.boton.titan {
    background-color: blue;
}

.boton.caballero {
    background-color: yellowgreen;
    color: white;
}