* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blue;
    }
    
    body {
    
        font-size: 25px;
        color: white;
    }

    h1 {
        text-align: center;
        font-size: 70px;
    }

    h1, h2 {

        text-decoration: underline;
    }


    .img {
        text-align: center;

    }

    .descripcion {

        text-align: center;
        
    }

    .boton-regresar {

        font-size: 30px;
        background-color: lightcyan;
    }

    a {
        background-color: transparent;
        text-decoration: none ;
        color: black;
        font-size: x-large;
        font-style: italic;
    }